.neon-shadow-animation {
  animation: neonShadow 1s ease-in-out infinite alternate;
}

@keyframes neonShadow {
  0% {
    box-shadow: 0 0 10px #4b0082, 0 0 20px #4b0082, 0 0 30px #4b0082, 0 0 40px #4b0082, 0 0 50px #4b0082, 0 0 60px #4b0082, 0 0 70px #4b0082;
  }
  100% {
    box-shadow: 0 0 10px #4b0082, 0 0 20px #4b0082, 0 0 30px #4b0082, 0 0 40px #4b0082, 0 0 50px #4b0082, 0 0 60px #4b0082, 0 0 70px #4b0082, 0 0 80px #4b0082, 0 0 90px #4b0082, 0 0 100px #4b0082, 0 0 110px #4b0082;
  }
}
